.signIn {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 0.5rem;
    
    input {
        max-width: 500px;
        
    }

    

    button,
    input {
        padding: 0.5rem 0.8rem;
        outline: none;
        font-size: 1.2rem;
        transition: 300ms;
    }

    input:focus,
    button:focus {
        outline: 5px solid #ccc;
    }

    button {
        align-self: flex-end;
        background: #000;
        color: #fff;
        border: none;
        padding: 1rem 1.5rem;
        cursor: pointer;
      }
      span {
        font-size: 2rem;
        display: block;
        color: #8b8b8b;
        letter-spacing: 8px;
        font-weight: bold;
      }
      
      .newDiv {
        margin-top: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
