.products-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem 1rem;
}
/*
    Make My Shop Responsive
*/

// Big Screens
@media (max-width: 1400px) {
    .products-container {
        grid-template-columns: repeat(3,1fr);
    }
}
// Meduim Screens
@media (max-width: 790px) {
    .products-container {
        grid-template-columns: repeat(2,1fr);
    }
}
// Small Screens
@media (max-width: 500px) {
    .products-container {
        grid-template-columns: repeat(1,1fr);
    }
}